.main-div mat-card {
    padding: 0px;
}

.login-form{
    padding: 20px;
}

.message {
    color: red;
    padding-bottom: 10px;
}

.check {
    padding-bottom: 10px;
}

.main-div {
    background-position: center center;
    background: radial-gradient(circle, black, #3f51b5);
}